.bg-red{
    background-color: red;
}

.bg-green{
    background-color: green;
    
}

.bg-white{
    background-color: white;
}

.bg-orange{
    background-color: orange;
}

.bg-gray{
    background-color: #333;
}