.position{
    position: absolute;
    bottom: 100px;
    left: 15px;

}

.display{
    display: inline;
}

.left{
    left: 53px;
}

.line-height{
    
    line-height: 15px;
}

.line-through{
    text-decoration:line-through;
    font-size: 14px;
}

.font-size{
    font-size: 10px;
}

.grow{
    flex-grow: 1;
}

.padd-orizz{
    padding:0 170px;
}

.padd-vert{
    padding:20px 0;
}



.font-red{
    color: red;
}

.font-white{
    color: white;
}